* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_navbar_div {
    background-color: #2D9596;
    display: flex;
}

.Todo_heading {
    width: 75%;
    color: white;
    padding: 7px 30px;
}

.main_links_div {
    justify-content: space-evenly;
    width: 25%;
    /* gap: 8%; */
    display: flex;
    align-items: center;
    color: white;
}

.yes_no_button {
    gap: 30px;
    padding: 16px 50px 0px 50px;;
    display: flex;
}

.logout_button_YesNo {
    width: 40%;
}