.main_card_div {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.ul_card {
    width: 33.33%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.card_h1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.card {
    height: 80%;
    border-radius: 8px;
    margin: 20px;
    width: 100%;
    background-color: #d7eaf7bf;
    padding: 10px;
    color: black;
    font-family: sans-serif;
}

.li_card {
    display: flex;
    word-break: break-all;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: #d7eaf7bf;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1976d2;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1976d2;
}